[Unit]
Description=uwb_pozyx_localization
After=network.target remote-fs.target

[Service]
Type=simple
WorkingDirectory=/home/rutgers_cait/
User=rutgers_cait
ExecStart=/usr/bin/python3 /home/rutgers_cait/innov_uwb_api/localize_uwb.py > /dev/null 2>&1 &
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target